*
{
    background-color: blue;
    font-family: sans-serif;
    font-size: 50;
    font-style: normal;
    font-weight: 600;
    text-decoration: line-through;
    text-transform: capitalize;
    letter-spacing: 20;
}